@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  /* Setting 'rem' to 10px seems to be good practice,  as per this article https://bit.ly/3tDdBT5 */
  font-size: 62.5%;

  /* Variables */
  --white: #ffffff;
  --outer-space: #212a2f; /* rgb(33, 42, 47) */
  --wild-sand: #f5f5f5;
  --french-gray: #cfcfd0;
  --iron: #d3d4d5;
}
html {
  background-color: var(--white);
}

body {
  margin-top: 6rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--wild-sand);
  color: var(--outer-space);
  margin: 0;
}

a {
  text-decoration: underline;
  color: var(--outer-space);
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.09);
  z-index: 2;
}

.nav__menu-icon {
  cursor: pointer;
  width: fit-content;
  margin-left: 2rem;
}

.nav__menu-icon--top,
.nav__menu-icon--mid,
.nav__menu-icon--bot {
  height: 0.2rem;
  width: 2.2rem;
  margin: 0.6rem 0;
  transform-origin: left;
  transition: all 0.2s ease;
  background-color: var(--outer-space);
}

.nav__shoe-icon {
  pointer-events: none;
  height: 5rem;
}

.nav__cart-icon-wrapper {
  position: relative;
}

.nav__cart-icon {
  height: 4rem;
  margin-right: 2rem;
}

.nav__cart-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav__cart-count {
  position: absolute;
  top: 0;
  right: 3.4rem;
  font-size: 1rem;
  font-weight: 900;
  z-index: -1;
}

.nav--active .nav__menu-icon--top {
  transform: rotate(45deg);
}

.nav--active .nav__menu-icon--mid {
  transform: translateX(-25%);
  opacity: 0;
}

.nav--active .nav__menu-icon--bot {
  transform: rotate(-45deg);
}

.all_birds_logo {
  height: 3.5rem;
}

.nav_menu_links {
  padding-left: 3rem;
}

.nav_menu_links:hover {
  text-decoration: underline;
}

@media (min-width: 990px) {
  .nav__menu-icon {
    display: none;
  }
}

@media (max-width: 990px) {
  .nav_menu_links,
  .homepage_icons {
    display: none;
  }
}

.btn {
  width: 100%;
  padding: 1.3rem 0;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.btn:hover {
  filter: invert(1);
  cursor: pointer;
}

hr {
  width: 100%;
  margin: 0;
  height: 0.1rem;
  background-color: var(--french-gray);
  border: none;
  opacity: 0.9;
}

br {
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  right: -200%;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0 3rem;
  background-color: white;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
}

.shopping-cart--active {
  right: 0;
}

.shopping-cart__header {
  display: flex;
  margin-top: 2rem;
}

.shopping-cart__close {
  position: relative;
  height: 36px;
  width: 36px;
  transition: transform 0.25s ease-in-out;
}

.shopping-cart__close:hover {
  transform: rotate(90deg);
  cursor: pointer;
}

.shopping-cart__close::after,
.shopping-cart__close::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 36px;
  position: absolute;
  background-color: var(--outer-space);
}

.shopping-cart__close::before {
  transform-origin: right;
  transform: rotate(-45deg) translate(-20%);
}

.shopping-cart__close::after {
  transform-origin: left;
  transform: rotate(45deg) translate(20%);
}

.shopping-cart__items {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 0;
  width: 100%;
}

.shopping-cart__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 0;
}

.shopping-cart__product-selection {
}

.shopping-cart__image {
  max-height: 10rem;
  margin: 0 2rem 2rem 0;
}

.shopping-cart__name {
  margin: 0;
  font-size: 1.6rem;
}

.shopping-cart__selections p {
  margin: 0;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.shopping-cart__quantity-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  height: 3rem;
  width: 9rem;
  border: 2px solid var(--iron);
}

.shopping-cart__quantity-wrapper .fa {
  font-size: 1.3rem;
  color: var(--iron);
  transition: all 0.2s linear;
}

.shopping-cart__quantity-wrapper .fa:hover {
  color: var(--outer-space);
  cursor: pointer;
}

.shopping-cart__delete-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  height: 10rem;
}

.shopping-cart__delete {
  transition: transform 0.2s ease-in-out;
}

.shopping-cart__delete:hover {
  cursor: pointer;
  transform: rotate(-90deg);
}

.shopping-cart__price {
  margin: 0;
}

.shopping-cart__item hr {
  position: absolute;
  bottom: 0;
  margin: 1rem 0;
}

.shopping-cart__totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart__text {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.08rem;
}

.shopping-cart__button--empty {
  width: 60%;
  margin: 0.5rem auto;
  background-color: var(--white);
  border: 2px solid var(--outer-space);
}

.shopping-cart__button--empty:hover {
  filter: none;
  background-color: var(--outer-space);
  color: var(--white);
}

/* 
    ########
    # HOME #
    ######## 
*/

.Container__Image {
  position: relative;
}

.homepage_mobile_img,
.homepage_desktop_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage_desktop_img {
  display: none;
}

/* Desktop View;*/
@media (min-width: 750px) {
  .homepage_mobile_img {
    display: none;
  }

  .homepage_desktop_img {
    display: block;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.homepage__text {
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

.Homepage_Button {
  margin-right: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.Homepage_Button:hover {
  background-color: black;
  color: white;
}

/* 
    ###########
    #Slideshow section # 
    ########### 
*/

.slideshow_cat {
  display: flex;
  justify-content: space-around;
}

.slideshow_cat p:hover {
  text-decoration: underline;
}

.slideshow_title h2 {
  text-align: center;
}

.slideshow_container {
  display: flex;
}

.slideshow {
  margin-left: 2rem;
  margin-bottom: 5rem;
  width: 400px; /* Set size of container*/
  height: auto;
  position: relative;
}

.slide {
  position: absolute;
  background-color: white;
}

.slide img {
  object-fit: fill;
  max-width: 100%;
  border: none;
}

.slide hr {
  width: 90%;
  margin-left: 1rem;
}

.slide h2 {
  margin-left: 1rem;
}

.slide h3 {
  text-align: center;
}

.slide .Homepage_Button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: black;
  color: white;
}
.slide .Homepage_Button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
