@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  /* Setting 'rem' to 10px seems to be good practice,  as per this article https://bit.ly/3tDdBT5 */
  font-size: 62.5%;

  /* Variables */
  --white: #ffffff;
  --outer-space: #212a2f; /* rgb(33, 42, 47) */
  --wild-sand: #f5f5f5;
  --french-gray: #cfcfd0;
  --iron: #d3d4d5;
}

body {
  margin-top: 6rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--outer-space);
  margin: 0;
}

a {
  text-decoration: underline;
  color: var(--outer-space);
}

button {
  padding: 1.3rem 1.8rem;
  margin: auto;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  font-weight: 700;
}

button:hover {
  filter: invert(1);
  cursor: pointer;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.09);
  z-index: 2;
}

.nav__menu-icon {
  cursor: pointer;
  width: fit-content;
  margin-left: 2rem;
}

.nav__menu-icon--top,
.nav__menu-icon--mid,
.nav__menu-icon--bot {
  height: 0.2rem;
  width: 2.2rem;
  margin: 0.6rem 0;
  transform-origin: left;
  transition: all 0.2s ease;
  background-color: var(--outer-space);
}

.nav__shoe-icon {
  pointer-events: none;
  height: 5rem;
}

.nav__cart-icon {
  height: 4rem;
  margin-right: 2rem;
}

.nav--active .nav__menu-icon--top {
  transform: rotate(45deg);
}

.nav--active .nav__menu-icon--mid {
  transform: translateX(-25%);
  opacity: 0;
}

.nav--active .nav__menu-icon--bot {
  transform: rotate(-45deg);
}

/* 
    ########
    # HOME #
    ######## 
*/

.container__homepage__mobile {
  position: relative;
  text-align: center;
  color: white;
}

.homepage__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.homepage_mobile_img {
  width: 100vw;
}

/* 
    ###########
    # PRODUCT # 
    ########### 
*/

.product {
  margin-top: 7rem;
}

.product > * {
  padding: 0 2rem;
}

.breadcrumbs__item {
  width: fit-content;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--outer-space);
  cursor: pointer;
}

.breadcrumbs__item::after {
  content: "";
  display: inline-block;
  height: 0.15rem;
  width: 1rem;
  transform: translate(15%, -250%) rotate(-65deg);
  background-color: var(--outer-space);
}

.product__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
}

.product__title {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}

.product__price {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--outer-space);
}

.product__rating {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: -1.7rem;
  user-select: none;
}

.product__stars {
  width: fit-content;
  transform: scale(0.7);
}

.product__stars .fa-star {
  margin: 0 0.2rem;
}

.product__stars .fa-star:nth-child(1) {
  margin-left: 0;
}

.product__review-count {
  margin-left: -1.6rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.product__carousel {
  display: flex;
  justify-content: center;
  background-color: var(--wild-sand);
}

.product__image {
  width: 100%;
  max-width: 42rem;
}

.product__label,
.collapsible__label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.product__selected-value {
  font-size: 1.2rem;
}

.color {
  border: 2px solid gray;
  width: fit-content;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
}

.color__icon {
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-40deg);
}

.color__icon--top,
.color__icon--bottom {
  content: "";
  display: block;
  height: 50%;
  width: 100%;
}

#mist .color__icon--top {
  background-color: #888688;
}

#mist .color__icon--bottom {
  background-color: #fff;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
  height: 6.5rem;
  border: 1px solid gray;
  transition: background-color 0.2s linear;
}

.size:hover {
  background-color: var(--iron);
  cursor: pointer;
}

.size * {
  margin: 0;
  font-size: 1.2rem;
  color: var(--outer-space);
}

.size__region {
  text-transform: uppercase;
}

.button--gray {
  background-color: var(--iron);
  color: white;
}

.button--gray:hover {
  cursor: not-allowed;
  filter: none;
}

.highlights {
  background-color: var(--wild-sand);
}

.highlights__hr {
  height: 0.1rem;
  margin: 0;
  background-color: var(--french-gray);
  border: none;
}

.highlights__item {
  width: 80%;
  margin: 0;
  padding: 1.2rem 2.4rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--outer-space);
}

.collapsible__chevron {
  transition: transform 0.2s linear;
}

.collapsible__chevron:hover {
  cursor: pointer;
}

.collapsible__chevron--rotate {
  transform: rotate(180deg);
}

.collapsible__text {
  color: var(--outer-space);
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.9;
}

.collapsible__text--strong {
  font-size: 1.4rem;
  font-weight: 500;
}

.product-part__image {
  width: clamp(15rem, 100%, 75rem);
  margin: 0;
}

.product-part__name {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

.product-part__description {
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 1.6rem;
}
